<h2>List of Customers</h2>
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>City</th>
      <th>State</th>
      <th>Postal Code</th>
      <th>Phone</th>
      <th>Account Credit</th>
    </tr>
  </thead>
  <tbody>
    <% @customers.each do |customer| %>
      <tr>
        <td><%= link_to customer.name, movie_path(customer) %></td>
        <td><%= customer.address %></td>
        <td><%= customer.city %></td>
        <td><%= customer.state %></td>
        <td><%= customer.postal_code %></td>
        <td><%= customer.phone %></td>
        <td><%= customer.account_credit %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "Back to Home", root_path, class: "btn btn-secondary" %>
